<style>
    .custom-bg {
        background-image: url('/hvac-master//img/breadcrumb-bg.jpg'); 
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 70px 0; 
    }

</style>
<div class="breadcrumb-option custom-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>İletişim</h2>
                    <div class="breadcrumb__links">
                        <a href="/Default/Index/"><i class="fa fa-home"></i> Anasayfa</a>
                        <span>İletişim</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
