@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="zxx">

<head>
    @await Component.InvokeAsync("_DefaultLayoutHeadPartials")
</head>

<body>
    @await Component.InvokeAsync("DefaultLayoutHeaderPartials")

    @await Component.InvokeAsync("_DefaultLayoutBannerPartials")

    @await Component.InvokeAsync("DefaultLayoutServicePartials")

    @await Component.InvokeAsync("DefaultLayoutFeaturePartials")

    @await Component.InvokeAsync("DefaultLayoutWhyUsePartials")

    @await Component.InvokeAsync("DefaultLayoutBlogPartials")

    @await Component.InvokeAsync("DefaultLayoutCtaPartials")

    @await Component.InvokeAsync("DefaultLayoutFooterPartials")

    @await Component.InvokeAsync("DefaultLayoutScriptPartials")

</body>

</html>