<nav class="sidebar">
    <div class="logo">
        <h1><i class="fas fa-user-shield"></i> <br />CarShop Admin</h1>
    </div>
    <ul class="nav-menu">
        <li class="nav-item">
            <a href="index.html" class="nav-link">
                <i class="fas fa-arrow-alt-circle-right"></i>
                <span>Siteye Git</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="/Banner/Index/" class="nav-link">
                <i class="fas fa-image"></i>
                <span>Afiş</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="/Brand/Index/" class="nav-link">
                <i class="fas fa-registered"></i>
                <span>Markalar</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="/Product/Index/" class="nav-link active">
                <i class="fas fa-box-open"></i>
                <span>Ürünler</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="/Service/Index/" class="nav-link">
                <i class="fas fa-concierge-bell"></i>
                <span>Hizmetler</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="/About/Index/" class="nav-link">
                <i class="fas fa-info-circle"></i>
                <span>Hakkımızda alanları</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="/Partner/Index/" class="nav-link">
                <i class="fas fa-users"></i>
                <span>Müşteriler</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="/Staff/Index/" class="nav-link">
                <i class="fas fa-user-tie"></i>
                <span>Çalışanlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="/Testimonial/Index/" class="nav-link">
                <i class="fas fa-handshake"></i>
                <span>Referanslar</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="/WhyUse/Index/" class="nav-link">
                <i class="fas fa-question-circle"></i>
                <span>Biz Kimiz</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="/Blog/Index/" class="nav-link">
                <i class="fas fa-blog"></i>
                <span>Blog</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="/Settings/Index/" class="nav-link">
                <i class="fas fa-cogs"></i>
                <span>Ayarlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="/Settings/Logout/" class="nav-link">
                <i class="fas fa-sign-out-alt"></i>
                <span>Çıkış Yap</span>
            </a>
        </li>
    </ul>
</nav>