<!DOCTYPE html>
<html lang="en">

<head>
    @await Component.InvokeAsync("_AdminLayoutHeadPartials")
</head>

<body>
    <div id="main-wrapper">
        @await Component.InvokeAsync("_AdminLayoutHeaderPartials")
        @await Component.InvokeAsync("_AdminLayoutNavBarPartials")
        <div class="content-body">
            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>
        @await Component.InvokeAsync("_AdminLayoutFooterPartials")
    </div>
    @await Component.InvokeAsync("_AdminLayoutScriptPartials")
</body>

</html>