<div class="breadcrumb-option" style="background-image: url('/hvac-master/img/breadcrumb-bg.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Son Bloglar</h2> 
                    <div class="breadcrumb__links">
                        <a href="/Default/Index/"><i class="fa fa-home"></i> AnaSayfa</a>
                        <span>Bloglar</span> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>