<div class="col-lg-6 col-md-6">
    <div class="contact__text">
        <div class="section-title">
            <h2>Birlikte Çalışalım</h2>
            <p>Daha fazla bilgi veya talep için sosyal medya kanallarımız aracılığıyla bizimle iletişime geçin.</p>
        </div>
        <ul>
            <li><span>Hafta içi:</span> 08:00 – 18:00</li>
            <li><span>Cumartesi:</span> 10:00 – 16:00</li>
            <li><span>Pazar:</span> Kapalı</li>
        </ul>
    </div>
</div>