<div id="preloder">
    <div class="loader"></div>
</div>
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <ul class="header__top__widget">
                        <li><i class="fa fa-clock-o"></i> Hafta içi: Sabah 8.00'den akşam 6.00'ya kadar</li>
                        <li><i class="fa fa-envelope-o"></i> arabamarketim@outlook.com</li>
                    </ul>
                </div>
                <div class="col-lg-5">
                    <div class="header__top__right">
                        <div class="header__top__phone">
                            <i class="fa fa-phone"></i>
                            <span>(+90) 546 748 19 63</span>
                        </div>
                        <div class="header__top__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="header__logo">
                    <a href="/Default/Index/"><img src="~/hvac-master/img/logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-10">
                <div class="header__nav">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a href="/Default/Index/">AnaSayfa</a></li>
                            <li><a href="/Product/Index/">Arabalar</a></li>
                            <li><a href="/About/Index/">Hakkımızda</a></li>
                            <li><a href="/Blog/Index/">Bloglar</a></li>
                            <li><a href="/Contact/Index">İletişim</a></li>
                        </ul>
                    </nav>
                    <div class="header__nav__widget">
                        <div class="header__nav__widget__btn">
                            <a href="#"><i class="fa fa-cart-plus"></i></a>
                            <a href="#" class="search-switch"><i class="fa fa-search"></i></a>
                        </div>
                        <a href="#" class="primary-btn">Araba Ekle</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="canvas__open">
            <span class="fa fa-bars"></span>
        </div>
    </div>
</header>