@model List<ResultFeatureDTO>
<section class="feature spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                @foreach (var item in Model)
                {
                    <div class="feature__text">
                        <div class="section-title">
                            <span>En Önemli Özelliğimiz</span>
                            <h2>@item.Title</h2>
                        </div>
                        <div class="feature__text__desc">
                            <p>
                                @item.SmallDescription
                            </p>
                            <p>
                                @item.Description
                            </p>
                        </div>
                        <div class="feature__text__btn">
                            <a href="/About/Index/" class="primary-btn">Hakkımızda</a>
                            <a href="#" class="primary-btn partner-btn">Ortaklarımız</a>
                        </div>
                    </div>
                }
            </div>
            @await Component.InvokeAsync("DefaultLayoutFeatureSubstancePartials")
        </div>
    </div>
</section>