<style>
    .counter-bg {
        background-image: url('/hvac-master/img/counter-bg.jpg'); 
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 80px 0;
    }

</style>
<div class="counter spad counter-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="counter__item">
                    <h2 class="counter-num">2300</h2>
                    <p>Araç Stok</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="counter__item">
                    <h2 class="counter-num">1630</h2>
                    <strong>+</strong>
                    <p>Araç Satışı</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="counter__item">
                    <h2 class="counter-num">1850</h2>
                    <p>Bayi Yorumları</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="counter__item">
                    <h2 class="counter-num">6700</h2>
                    <p>Mutlu Kullanıcılar</p>
                </div>
            </div>
        </div>
    </div>
</div>
