<style>
    .breadcrumb-option {
        background-image: url('/hvac-master/img/breadcrumb-bg.jpg');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        min-height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>

<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Araç Özellikleri Ve Resimleri</h2>
                    <div class="breadcrumb__links">
                        <a href="/Default/Index"><i class="fa fa-home"></i> AnaSayfa</a>
                        <a href="/Product/Index/">Araç Listesi</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
